body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #CDBC1B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.browser {
    width: 900px;
    padding: 20px;
    background: #CDBC1B;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.search-bar {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 28px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.logo {
    width: 250px;
    height: auto;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
    margin-top: 20px;
}
.grid-item {
    background: #f5f5f5;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#image-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
#popup-img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}
